<header>
  <nav class="custom-navbar custom-color">
    <a
      class="custom-navbar-brand"
      href="#"
      th:classappend="${loginPage} ? 'text-l' : 'text-c'"
      >My Portfolio</a
    >
    <div
      th:classappend="${loginPage} ? 'null' : 'custom-loginout-btn'"
      id="navbarNav4"
    >
      <!-- 新規登録画面でログインボタンを表示 -->
      <a
        class="nav-link custom-nav-link"
        th:if="${showLoginButton}"
        th:href="@{/login}"
        >ログイン</a
      >
      <!-- ログイン時はログアウトボタンを表示 -->
      <a
        class="nav-link custom-nav-link"
        th:if="${showLogoutButton}"
        th:href="@{/logout}"
        >ログアウト</a
      >
    </div>
  </nav>
</header>
