<header>
  <nav class="navbar navbar-expand-sm mb-3 custom-navbar custom-color">
    <a class="navbar-brand custom-navbar-brand" href="#">My Portfolio</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
      <!-- 新規登録画面でログインボタンを表示 -->
      <a
        class="nav-link custom-nav-link"
        th:if="${showLoginButton}"
        th:href="@{/login}"
        >ログイン</a
      >
      <!-- ログイン時はログアウトボタンを表示 -->
      <a
        class="nav-link custom-nav-link"
        th:if="${showLogoutButton}"
        th:href="@{/logout}"
        >ログアウト</a
      >
    </div>
  </nav>
</header>
