<header>
  <nav class="custom-navbar custom-color">
    <a
      class="custom-navbar-brand"
      href="#"
      th:classappend="${loginPage} ? 'text-c' : 'text-l'"
      >My Portfolio</a
    >
    <div
      th:classappend="${loginPage} ? 'null' : 'custom-loginout-btn'"
      id="navbarNav4"
    >
      <!-- 新規登録画面でログインボタンを表示 -->
      <a
        class="nav-link custom-nav-link"
        th:if="${showLoginButton}"
        th:href="@{/login}"
        >ログイン</a
      >
      <!-- ログイン時はログアウトボタンを表示 -->
      <form th:if="${showLogoutButton}" th:action="@{/logout}" method="post">
        <input
          class="nav-link custom-nav-link"
          type="submit"
          name="logout"
          value="ログアウト"
        />
      </form>
    </div>
  </nav>
</header>
