<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.spring.springbootapplication.repository.UserRepository">

      <!-- user新規登録 -->
      <insert id="insert">
        INSERT INTO users
          (name, email, password, updated_at, created_at)
        VALUES
          (#{name}, #{email}, #{password}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
      </insert>

       <!-- user取得 -->
       <select id="findByEmail" resultType="com.spring.springbootapplication.entity.UserInfo">
       SELECT id, email, password, name, updated_at AS updateDate, created_at AS createDate FROM users WHERE email = #{email}
       </select>
   </mapper>