html {
  position: relative;
  min-height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.s-height {
  height: 860px;
}
.m-height {
  height: 1231px;
}
.l-height {
  height: 1599px;
}

.container {
  padding: 0;
  width: auto;
}

/* header */
header {
  height: 120px;
  width: 100%;
}
.custom-navbar {
  width: 100%;
  height: 120px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-l {
  width: 90%;
  display: flex;
  align-items: center;
}
.text-c {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-navbar-brand {
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
}
.custom-navbar-brand:hover {
  color: inherit;
}
.custom-loginout-btn {
  height: 53px;
  width: 152px;
  display: flex;
  align-items: center;
}
.custom-nav-link {
  padding: 16px 40px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #ffffff;
  color: #000000bf;
  text-decoration: none;
  line-height: 1;
  height: 53px;
  width: 170px;
  border: none;
}
/* 好きくない */
.custom-nav-link:hover {
  color: #000000bf;
}

/* ログイン-新規登録 */
.custom-caption {
  margin: 80px 0;
  font-size: 36px;
  color: #000000bf;
}
.custom-form-group {
  max-width: 480px;
  height: 48px;
  margin-bottom: 48px;
  margin-inline: auto;
}
.custom-text-danger {
  font-size: 12px;
}
.custom-label {
  font-size: 12px;
  color: #0000008a;
  text-align: left;
}
.custom-form {
  display: block;
  width: 100%;
  height: 25px;
  padding: 0;
  font-weight: 400;
  line-height: 2;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.custom-color {
  background-color: #1b5678;
  color: #ffffff;
}
.custom-submit-btn {
  height: 53px;
  width: 238px;
  padding: 16px 80px;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 48px;
}
.custom-submit-btn:hover {
  color: #cecece;
}

.custom-login-signin-btn {
  height: 53px;
  width: 268px;
  padding: 16px 80px;
  margin-bottom: 48px;
  font-size: 18px;
  border: none;
  line-height: 1.2;
}
.custom-login-signin-btn:hover {
  color: #cecece;
}
.signin-m {
  margin: 0;
}
/* top */
.profile {
  display: flex;
  margin: 80px 175px 120px 175px;
  max-width: 960px;
  width: 100%;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .profile {
    flex-direction: column;
    margin: 80px auto 120px auto;
    max-width: 660px;
  }
}
.avatar {
  text-align: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.avatar-img {
  width: 100%;
  height: 360px;
  background-color: gray;
  border-radius: 50%;
}
.profile-username {
  color: rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  width: 194px;
  height: 57px;
  line-height: 3.5;
  position: relative;
  left: 25%;
}
.profile-wrap {
  margin: 52px 0 52px 80px;
  max-width: 520px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .profile-wrap {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}
.profile-title {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  width: 240px;
  height: 42px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  font-size: 36px;
  box-sizing: unset;
}
.profile-content {
  margin-bottom: 32px;
}
.profile-edit-link {
  height: 53px;
  width: 242px;
  padding: 16px 40px;
  font-size: 18px;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  text-decoration: none;
  line-height: 1;
}
.chart {
  text-align: center;
}
.chart-title {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 42px;
  padding-bottom: 16px;
  margin: 0 auto;
  box-sizing: unset;
}
.chart-edit-link {
  height: 53px;
  width: 152px;
  padding: 16px 40px;
  font-size: 18px;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  text-decoration: none;
  margin: 40px 0 46px 0;
  line-height: 1;
}

.chart-wrap {
  margin: 0 auto 81.5px auto;
  max-width: 1081px;
  width: 100%;
  height: 532.5px;
  color: #000000bf;
}
.bar-js {
  margin: 25px;
}
.bar {
  display: inline-block;
  width: 50px;
  height: 13px;
  margin-right: 5px;
}
.b-bar {
  background: rgb(255, 170, 170);
}
.f-bar {
  background: rgb(255, 205, 170);
}
.i-bar {
  background: rgb(255, 245, 170);
}
.bar-name {
  margin-right: 15px;
}
/* footer */
.custom-copy {
  padding: 9.5px 0;
  margin: 0;
}
.custom-footer {
  height: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0;
}
/* reset */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #cecece;
}
